# Shopify config
config.yml
.env

# OS files
.DS_Store
Thumbs.db

# Editor directories and files
.idea
.vscode
*.swp
*.swo

# Node modules
node_modules/

# Build directory
dist/
build/ 
.shopify

# Shopify theme
config/settings_data.json

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build files
*.zip
*.gz

# Cursor files
.cursor/

# Map files
*.js.map
*.css.map
